*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    letter-spacing: 1px;
    background: linear-gradient(to right,#00008b,#e13a9d);
    /* height: 1000px; */

}
 h1{
    color: white;
    padding: 50px;
    font-size: 40px;
    text-align: center;
}
.contanier{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.cards{
    margin: 10px;
    height: 470px;
    width:300px ;
    text-align: center;
    background-color:#000047;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
    transition: 0.5s all ease-in-out;
}
.cards:hover{
    box-shadow: 0px 50px 30px rgba(0, 0, 0,0.5);
}
#img{
    width: 150px;
    border-radius: 50%;
    margin-top: 50px;
    padding: 2px;
    outline: 2px solid #e13a9d;
    transition: all 0.7s ease;
}
#img:hover{
    width: 170px;
}
.cards h2{
    margin: 15px;
    font-size: 20px;
    color: beige;
}
.cards p{
    /* margin: 7px; */
    /* margin-top: 10px; */
    font-size: 20px;
    color: beige;
    padding-bottom: 8px;
}
.btn{
    margin-top: 10px;
    background: linear-gradient(to right,#e13a9d,#00008b);
    padding: 10px 30px;
    border: 0;
    color: beige;
    font-weight: 500;
    height: 40px;
    width:150px;
    cursor: pointer;
    font-size: 15px;
    transition: all 0.7s ease;
}
.btn:hover{
    background: linear-gradient(to right,#00008b,#e13a9d);
    width: 170px;
    height: 50px;
}
.social-media{
    /* border: 2px solid black; */
    margin-top: 30px;
}
.social-media a{
    font-size: 30px;
    padding: 0px 12px;
    transition: all 0.7s ease;
}
.social-media a:hover{
    font-size: 40px;
}